html{
    /* background: #022C9E linear-gradient(to bottom right, #001E48, #022C9E); */
    background: transparent linear-gradient(to bottom right, #001E48 0%, #E91E63 130%);
    background: #001E48;
    color: white;
    font-family: sans-serif;
    font-size: small;
}

body{

}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:10px;
    z-index:100;
}

header .nav{

}
header .nav-item{
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-left: 10px;
}
header .nav-item:hover{
    background-color:rgba(0,0,0,0.25);
}
header .nav-item.title{
    margin-left: 0px;
}


footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:20px;
    z-index:100;
}
footer .social-icons{

}
footer .social-icons a{
    opacity:0.5;
    cursor:pointer;
    margin-right:10px;
}
footer .social-icons a:hover{
    opacity:1;
}

section{
    padding:20px;
}

section .content-wrap{
    width:100%;
    max-width:850px;
    margin: 0 auto;
}

#banner{

}

#banner .description{
    padding-right:20px;
    max-width:455px;
}
#banner .description h1{
    margin-top:0;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-size: -webkit-xxx-large;
}
#banner .description p{
    margin:0 0 10px;
    font-size:medium;
}

#banner .avatar-container{

}
#banner .avatar-container .avatar{
    height:200px;
    width:200px;
    margin-left: auto;
    background: #eee;
    border: 5px solid white;
    overflow: hidden;
    border-radius:100%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
#banner .avatar-container .avatar .avatar-image{

}


@media(max-width:600px){
    #banner .description,
    #banner .avatar-container{
        min-width:100%;
        margin:20px 0;
    }

    #banner .avatar-container .avatar{
        margin: 0 auto;
        height:150px;
        width:150px;
    }

    #banner .description h1{
        margin-top:0;
        font-size: xx-large;
    }
}